/* need to add a link tag to html to link to css in head tag as this is read in */
/* to change background of whole website need to target body */
body{
    font-family: Helvetica, Arial, sans-serif; 
     /*the below removes the white space around the edge of the page  */
    margin: 0px;
/* margin 0px is removing the white border in each section which is assigned a colour to all four edges*/
font-size: 1.5vw;
}



/* Header  */

.mainheader {
    position: relative;
    margin: 0%;
    padding: 20px;
    
    
}

.marketing {
    font-size: 2vw;
    text-transform: uppercase;
    color: #b36c65;
    text-align: center;
    font-family: "Gilda+Display";
    letter-spacing: 30px;
    font-weight: lighter;
    z-index: 1;
    position: relative;
    top: 80px;
}

.alice {
    font-size: 8vw;
    text-transform: uppercase;
    text-align: center;
    color: #F9F1F0;
    font-family: "Gilda+Display";
    font-weight: lighter;
    letter-spacing: 5px;
    text-shadow:
        2px 0 0 #F0C0BF,   
        4px 0 0 #F0C0BF,   
        6px 0 0 #F0C0BF;  
    position: relative; 
    z-index: 1;
    top: 80px;
}

.portfolio { 
    font-size: 15vw;
    font-family: "Allura";
    font-weight: 100;
    font-style: italic;
    color: #b36c65;
    letter-spacing: 5px;
    position: relative;
    top: 10px;
    z-index: 0;
    padding: 0%;
    margin: 0%;
}


/* Navigation bar */

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
    
}
.navbutton {
    color: #b36c65;
    text-decoration: none;
}

/* attempt at making naviagation bar horizontal */
/* removing default listing style and using display flex for horizontal listing*/
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    border: 2px solid #F0C0BF;
    border-radius: 5px;
    justify-content: center;
    grid-area: nav;

    
}
/* styling the list to be centralised */
.nav li {
    position: relative;
    margin: 0; 
    padding: 10px;
}

/* adding hover effect for links */
.navbutton:hover {
    background-color: #fadcd9;
    border-color: #fadcd9;
}




/* About me */

/* Setting grid layout */
.aboutmegrid {
    display: grid;
    grid-template-areas:
    "aboutme image";
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.aboutmegrid > img {
    width: 100%;
    grid-area: image;
}

.aboutmetext {
    grid-area: aboutme;
}

.aboutme > h2 {
    text-align: left;
    padding-left: 20px;
    font-size: 3vw;
    font-family: "Gilda+Display";
    color: #b36c65;
    letter-spacing: 1px;
    margin: 0%;
    padding-bottom: 10px;
    padding-top: 40px;
}

.aboutme > h3 {
    text-align: left;
    padding-left: 20px;
    color: #b36c65;
    font-family: "Gilda+Display";
    margin: 0px;
}

.aboutmetext {
    text-align: left;
    padding-left: 20px;
    color: black;
    font-family: "Gilda+Display";
    margin: 0px;
    font-size: 1.5vw;

}

/* Work Expereience */

.work {
    background-color: #F9F1F0;
    padding: 20px;
    font-family: "Gilda+Display";
}

.workgrid {
    display: grid;
    grid-template-areas:
    "marketing admin";
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}

.marketingtext {
    grid-area: marketing;
    padding-left: 20px;
    padding-right: 20px;
}

.marketingtext > h3 {
    color: #b36c65;
}

.admin {
    grid-area: admin;
    padding-left: 20px;
    padding-right: 20px;
}

.admin > h3 {
    color: #b36c65;
    padding-bottom: 10px;
}


.work > h2 {
    text-align: left;
    padding-left: 20px;
    font-size: 3vw;
    font-family: "Gilda+Display";
    color: #b36c65;
    letter-spacing: 1px;
    margin: 0%;

    padding-top: 40px; 
}

/* Education Section */

.educationgrid {
    display: grid;
    grid-template-areas: 
    "title details ";
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0;
}

.educationtitle {
    grid-area: title;
    font-size: 2.5vw;
    font-family: "Gilda+Display";
    color: #b36c65;


}

.educationdetails { 
    grid-area: details;
    font-family: "Gilda+Display";
}


.educationdetails > ul > h4 { 
    color: #b36c65;
}

.education {
    padding-bottom: 50px;
}




/* Qualifications and Certifications */

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    padding-bottom: 70px;
    padding-top: 70px;
    background-color: #dfd3ca;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.caption {
    margin-bottom: 20px;
    font-family:"Gilda+Display";
    font-size: 1.75vw;
    color: white;
    text-shadow: 10px 0px 15px #F0C0BF;

}

.grid-item img {
    width: 100%;
    height: auto;
    max-width: 9.5vwpx;
}



.qualifications > h2 { 
    color: #b36c65;
    font-family: "Gilda+Display";
    font-size: 3.5vw;
    padding-bottom: 30px;
}


/* Skills section */


.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.list-wrapper {
    width: 45%;
}

.list-wrapper > h2 {
    display: block;
    text-align: center;
    font-size: 3vw;
    color: #b36c65;

    background-color: #dfd3ca;
    padding: 20px;
    border-radius: 10px;

    margin: 40px auto;
    width: auto;
    max-width: 100%
    
}



.image-list { 
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.image-list > li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    min-height: 120px;
}

.image-list img { 
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    margin-right: 10px;
}

.image-list > span {
    font-size: 16px;
    color: #b36c65;
    text-decoration: none;
}



/* Graphic design examples */
.graphics > img {
    width: 100%;
    height: auto;
    margin: 50px;
}

/* Form */
form {
    text-align: center;
}
h2 {
    text-align: center;
}





/* Main page Footer */
body > footer {
    background-color: #dfd3ca;
    /* text colour */
    color: white;
    /* font size is relative to view screen */
    font-size: 1.5vw;
    display: flex;
    height: 9vh;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    display: flex;
    grid-area: footer;
    padding-bottom: 40px;
    margin-top: 30px;
}
ul {
    margin: 0px;
}

#footerul {
    display: flex;
    list-style: none;
}

#footerul > div > li {
    margin-left: 12px;

}

#footerul > div > li > a{
    text-decoration: none;
    color: white;
}

